#areYouSureDiv.container.hidden
  .areYouSure
    p#areYouSure.centre= `Are you sure you want to delete ${title}?`
    button#erMaybeNot.homeColours.centre(onclick='no()') Er... maybe not. CANCEL
    form(method='post' action=`/books/${id}/delete`)
      input(type='submit' value=`Yes: Delete it` class="deleteColours yesDelete centre")
    button#douglasAdamsButton.centre(onclick='maxQuordleplean()') Douglas Adams button
