.search-container
form(method='post', action='/search/quick')
  input#search-input.search-input(type='search' name='search' placeholder='Enter search text...')
  input#submit.search-submit.searchButton(type='submit' value='Search')