.search-container
  form(method='post', action='/search/quick' class='searchForm')
    input#search-input.search-input.homeColours(type='search' name='search' placeholder='Enter search text...')
    input#submit.search-submit.searchButton(type='submit' value='Search')