extends layout

block content
  h2.searchColours Yup; it's a 404 error.
  p.errorColours.centre Click the "Home" button to return to the home page (or wait to be redirected there). Meanwhile, here's a winter scene from the Ochil Hills to reflect the bleakness and desoloation of the 404 error.
  a.errorHome.button.homeColours.centre(href='/') Home 
  p#redirect.errorColours.centre 15
