:root {
  --home-light: #e0e0e0;
  --home-dark: #404040;
  --new-light: #10c219;
  --new-dark: #044e08;
  --update-light: #f1a312;
  --update-dark: #644305;
  --delete-light: #f03030;
  --delete-dark: #6b0505;
  --active-dark: rgb(69, 25, 110);
  --active-light: rgb(201, 103, 231);
  --search-dark: rgb(10, 10, 128);
  --search-light: rgb(144, 204, 224);
  --placeholder: #909090;
}

body {
  padding: 0;
  font: 18px "Garamond", serif;
}


a {
  color: #019875;
  text-decoration: none;
  font-weight: bold;
}

  a:hover {
    color: var(--active-dark);
    background-color: var(--active-light);
  }

button, a.button, input[type=submit] {
  color: white;
  /* background: #019875; */
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 5px;
  font-size: 1.7rem;
  border: 3px solid;
  border-radius: 6px;
  cursor: pointer;
}


form a.button, input[type=submit] {
  transition: none;
}

/* input[type=submit] {
  border: 0;
} */

  a.button:hover, input[type=submit]:hover {
    background-color: var(--active-light) !important;
    color: var(--active-dark) !important;
    border-color: var(--active-dark) !important;
  }

p {
  margin: 20px auto;
  display: inline-block;
  padding: 3px;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h1 {
  font-size: 2.5rem;
  max-width: 50%;
  margin: auto;
}

h2 {
  font-size: 1.2rem;
  margin: 1.2rem auto;
  min-width: 10rem;
  max-width: 80%;
}

h1,h2 {
  text-align: center;
}

th {
  border-bottom: 2px solid #D8B493;
  text-align: left;
  padding: 5px 20px 5px 10px;
}

tr {
  min-height: 50px;
}

tr:nth-child(2n) {
  background: #E7E7E7;
}

td {
  padding: 5px 20px 5px 10px;
}

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  font-size: 1rem;
  padding-left: 5px;
  padding-right: 7px;
}

p,h1,h2,label {
  border: 3px solid;
  border-radius: 6px;
}

input {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border: 2px solid #404040;
  border-radius: 3px;
  transition: 0.4s;
}

input[type=text] {
  width: 300px;
  border: 2px solid #404040;
  border-radius: 3px;
}

.error {
  background-color: rgb(236, 15, 15) !important;
  color: #000000;
  border-color: #000000 !important;
  width: 20rem;
  text-align: center;
}
.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #808080;
  opacity: 0.9;
  z-index: 10;
}

.areYouSure {
  width: 30%;
  min-width: 500px;
  height: 20%;
  min-height: 500px;
  background-color: #000;
  color: #e0e0e0;
  margin: 5% auto;
  border: 2px solid #01b189;
  border-radius: 8px;
  z-index: 20;
}

.hidden {
  display: none;
}
.transparent {
  opacity: 0;
}

.search-input, .search-input:focus {
  padding: 0.4rem 1rem;
  height: 3rem;
  /* border: 1px solid rgba(200, 200, 200, 0.9);
  border-radius: 0.25rem 0 0 0.25rem ; */
  max-width: 20rem;
  transition: .4s ease-out;
  outline: none;
  margin: 2px;
  display: inline;
  border: 3px solid;
  border-radius: 6px;
  background-color: var(--home-light) !important;
  color: var(--home-dark) !important;
  border-color: var(--home-dark) !important;
  font-size: 1.2rem;
  font-weight: bold;
}

/* .search-input:active, .search-input:hover, .search-input:focus {
  border: 1px solid rgba(50, 50, 50, 0.9);
} */


label, select {
  display: inline-block;
}

select {
  padding: 5px;
  width: 4rem;
  margin-left: 2px;
  margin-bottom: 0;
  text-align: center;
  border: 3px solid;
  border-radius: 6px;
  appearance: auto;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative; /* Don't ask.                */
  top: -0px;          /* No, really - don't.       */
}

.search-submit:active, .search-submit:hover, .search-submit:focus {
  background: var(--active-light);
  border-color: var(--active-dark);
}

.wrapper {
  align-content: center;
  width: 90%;
  margin: auto;
}

.background {
  /* position: fixed; */
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 750px;
  background-repeat: repeat-y;
  background-size: cover;
}

.linkDiv {
  /* min-width: 5rem; */
  margin: 0.5rem 0 0 0;
  min-height: 2rem;
  text-align : center;
}

.linkDiv li {
  display: inline;
}
.linkDiv li a {
  border: 4px #000 solid;
  border-radius: 8px;
  padding: 4px 10px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

.linkDiv li a:active,
.linkDiv li a:hover {
  background-color: #4ba6c3;
}

.active {
  background-color: #4ba6c3 !important;
  /* Feckin' specificity wars! */
}

.createButton {
  color: var(--new-dark) !important;
  background-color: var(--new-light);
  border-color: var(--new-dark) !important;
  display: block;
  width: 20rem;
  text-align: center;
  margin: 1.5rem auto;
}

.searchButton {
  color: var(--search-dark) !important;
  background-color: var(--search-light);
  border-color: var(--search-dark) !important;
  display: inline;
  cursor:pointer;
  height:3rem;
  margin-left: 2px;
  margin-bottom: -3px;
  padding: none;
  text-align: center;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 1.7rem;
  position: relative;
  top: 3px;
  font-weight: bold;
}

table {
  opacity: 0.88;
  border-collapse: separate;
  border-spacing: 0 10px;
}

tbody tr {
  border: 1px black solid;
  padding: 5px;
}

.bookProperty {
  display: block;
  width: 20rem;
  border: none;
}

.homeColours {
  background-color: var(--home-light) !important;
  border-color: var(--home-dark) !important;
  color: var(--home-dark) !important;
}

.searchColours {
  background-color: var(--search-light) !important;
  border-color: var(--search-dark);
  color: var(--search-dark) !important;
}

.newColours {
  background-color: var(--new-light);
  border-color: var(--new-dark);
  color: var(--new-dark);
}

.updateColours {
  background-color: var(--update-light);
  border-color: var(--update-dark);
  color: var(--update-dark);
}

.deleteColours {
  background-color: var(--delete-light);
  border-color: var(--delete-dark);
  color: var(--delete-dark);
}

.searchForm {
  width: 28rem;
  margin: 1rem auto;
}

::placeholder { 
  color: var(--placeholder) !important;
  font-size: 1.2rem;
  font-weight: lighter;
}

#perPageLabel {
  height: 3rem;
  font-size: 1.5rem;
  padding: 0 8px;
}

.centered {
  display: block;
  width: 30rem;
  margin: auto;
}

.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

#deleteButton {
  width: 30rem;
  margin: auto;
}